<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test html</title>
</head>
<body>
    XXX: |{{ request.session.jinja_session_view }}|
</body>
</html>
